
.panel {
    opacity: 1;
}

.allRepos{
    background-color: black;
    opacity: 0.8; 
}

.img-thumbnail{
    margin: auto;
}

.jumbotron{
    background-color: black;
    color: #fff;
    opacity: 0.8;
}

a{
    color: #fff;
}

.go{
    color: black;
}

.main-panel{
    background: #000;
    color: #333;
}

.panel-heading{
    background:#083d5b;
    color: #fff;
}

.list-group{
    background:#083d5b;
    color: #fff;
    padding: 30px;
    font-size: 18px;
    border-radius: 5px;
}